[project]
name = "order-service"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.2",
    "pika>=1.3.2",
    "psycopg2-binary>=2.9.11",
    "prometheus_client>=0.20.0",
]
