name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:24.0.5-dind
        options: --privileged
        ports:
          - 2375:2375

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      # Build & push order-service image
      - name: Build and Push Order Service
        uses: docker/build-push-action@v5
        with:
          context: ./order-service
          push: true
          tags: kaustav/order-service:latest

      # Build & push inventory-service image
      - name: Build and Push Inventory Service
        uses: docker/build-push-action@v5
        with:
          context: ./inventory-service
          push: true
          tags: kaustav/inventory-service:latest
